/*((((((((( defining text-colors in all states )))))))))))))*/

@define-color text_color #ececec;
@define-color text_shadow_color #000000;
/**/
@define-color selected_text_color #ececec;
@define-color selected_text_shadow_color #000000;
/**/
@define-color disabled_text_color #8b8b8b;
@define-color disabled_text_shadow_color #303030;
/**/
@define-color sidebar_text_color #ececec;
@define-color sidebar_text_shadow_color #000000;
/**/
@define-color sidebar_selected_text_color #ececec;
@define-color sidebar_selected_text_shadow_color #000000;
/**/
@define-color osd_button_text_color #ececec;
/**/
@define-color headerbar_text_color #ececec;
@define-color headerbar_text_shadow_color #000000;
@define-color headerbar_selected_text_color #ececec;
@define-color headerbar_selected_text_shadow_color #000000;
/**/
@define-color hb_button_text_color #ececec;
@define-color hb_button_text_shadow_color #000000;
/**/
@define-color hb_pathbar_button_text_color #ececec;
@define-color hb_pathbar_button_text_color_shadow_color #000000;
@define-color hb_pathbar_button_selected_text_color #ececec;
@define-color hb_pathbar_button_selected_text_color_shadow_color #000000;
@define-color modelbutton_selected_text_color #ececec;
@define-color modelbutton_selected_text_color_shadow_color #000000;
/*colors on buttons*/
@define-color button_color #606060;
@define-color hd_pathbar_bg #494949;
@define-color hd_pathbar_selected_bg #303030;
@define-color headerbar_button_color #494949;
@define-color osd_button_color #505050;
/*color-accents*/
@define-color color_accent #3478cb;
@define-color color_accent_2 #3478cb;
@define-color color_accent_3 #3478cb;
@define-color icontext_selected_bg #3478cb;
@define-color rad_chk_unchecked_border #303030;
@define-color rad_chk_unchecked_bg_top #505050;
@define-color rad_chk_unchecked_bg_bottom shade(#505050,0.92);
@define-color rad_chk_bg #3478cb;
@define-color modelbutton_bg #3478cb;
/**/
@define-color headerbar_color #656565;
@define-color headerbar_selected_accent_color shade(@color_accent_2, 0.88);
/**/
@define-color shadows_light #ffffff;
@define-color shadows_dark #000000;
/**/
@define-color menu_bg_color #454545;
@define-color sidebar_bg_color rgba(49,49,49,1);
/*text color for entries, views and content in general*/ 
@define-color theme_text_color #ececec;
@define-color theme_fg_color #ececec;
/*
widget base background color */
@define-color base_bg_color rgba(69,69,70,0.985);
@define-color theme_bg_color #404040;
@define-color osd_bg_color #303030;
 /*
text widgets and the like base background color */
@define-color theme_base_color #353535;/*#ffffff;*/
/*
base background color of selections @color_600 */
@define-color theme_selected_bg_color @color_600;

/*text/foreground color of selections */
@define-color theme_selected_fg_color #ececec;
/*
base background color of insensitive widgets */
@define-color insensitive_bg_color #404040;
/*
text foreground color of insensitive widgets */
@define-color insensitive_fg_color @disabled_text_color;
/*
insensitive text widgets and the like base background color */
@define-color insensitive_base_color #454545;
/*
widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color @disabled_text_color;
/*
text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #bcbcbc;
/*
widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #404040;
/*
text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #303030;
/*
base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color @color_600;
/*
text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #ececec;
/*
insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #5b5b5b;
/*
widgets main borders color */
@define-color borders #323232;/*#afada8;*//*#a7a5a0;*//*#cdcdcd;*/
@define-color borders_light #333333;
@define-color borders_dark #202020;
/*
widgets main borders color on backdrop windows */
@define-color unfocused_borders #d5d0cc;
/*
these are pretty self explicative */
@define-color drop_color #4e9a06;
@define-color color_destructive #692424;/*#e54939;*//*#b25e5e;*/
@define-color warning_color #f57900;
@define-color error_color @color_destructive;
@define-color success_color #26ab62;
/*
these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(#ececec, 1.8);
@define-color wm_unfocused_title @disabled_text_color;
@define-color wm_highlight rgba(0,0,0,0);
@define-color wm_borders_edge rgba(238, 238, 236, 0.07);
@define-color wm_bg_a shade(#404040, 1.2);
@define-color wm_bg_b #404040;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(#404040, 1.3);
@define-color wm_button_hover_color_b #404040;
@define-color wm_button_active_color_a shade(#404040, 0.85);
@define-color wm_button_active_color_b shade(#404040, 0.89);
@define-color wm_button_active_color_c shade(#404040, 0.9);
@define-color content_view_bg #454545;
